body{
    margin-right: "0";
    margin-left: "0"; 
    margin-top: "0"; 
    margin-bottom: "0";
    font-family: ;
}
#SiteAll_Box{
    width: 900px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 0px 10px gray;
}
#top{
    margin: 0;
    width: 900px;
    height: 135px;
}
#top .top-images{
    width:900px;
	height:15px;
	background:#3399CC;
	display:block;

}
.small_menu{
    display: none;
}
#top menu li,ul{
    list-style: none;
    margin: 0;
}
#top_menu img{
    float: left;
}
#top_left{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 5px;
    width: 380px;
}
#top_left ul{
    font-size: 13px;
    margin-top: 13px;
    margin-bottom: 13px;
    padding-left: 40px;
    width: 340px;
}
#top_left li{
    margin: 10px;
    padding: 5px;
    width: 310px;
    border-bottom: 1.111px dotted #333333;
}
#top_right{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 10px;
    width: 480px;
}
#top_right h2{
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    width: 465px;
    padding: 5px;
    border-left-style: solid;
    border-left-width: 5px ;
    border-left-color: #FF0066;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #FF0066;
    margin-top: 11.620px;
    margin-bottom: 11.620px;
}

#content {
    text-align: left;
    display: grid;
    grid-template-columns:395px 495px;
}
.topichead{
    font-size: 13px;
    font-weight: bold;
    color: #333333;
    width: 365px;
    background-color: #FFFFCC;
    padding: 5px;
    border-left:5px solid #FF6600;
    margin-top: 10.79px;
    margin-bottom: 10.79px;
}
    
#reference{
    font-size: 10px;
}

#gototop{
    text-align: right;
    font-size: 13px;
    display:block;
    padding:5px 0;
	margin:0 10px;

}
#copyright{
    font-size: 13px;
    display:block;
	margin:0;
	padding:5px 0 ;
    background-color: #3399CC;
}

span{
   color: #A2DBA8;
}

